
.content {
	background-color: #262626;
}

.header {
	font-family: 'Cardo', serif;
	color: #e2e2e2;
	margin-bottom: -125px;
}

.title {
	position: relative;
	z-index: 2;
	font-size: 80px;
	line-height: .5;
	color: #ffffff;
	padding-top: 10px;

}

.subtitle {
	position: relative;
	z-index: 2;
	margin-top: 15px;
}


.banner {
	margin: 0 auto;
	top: -165px;
	z-index: 1;
	position: relative;
	opacity: .5;
}

.answer {
	color: #ffffff;
	font-family: 'Cardo', serif;
}

.text {
	font-family: 'Cardo', serif;
}

.footer {
	background-color: #e2e2e2;
	color: #1e1e1e;
	font-family: 'Cardo', serif;
	clear: both;
	margin: 0 auto;
}